html, body {
   cursor: url("../images/Pleasure_4.jpg"), auto;
}

a{
  color: black;
}

sup {
  font-size: 15px;
}

.section {
    margin: 5px;
    text-align: left;
    line-height: 40px;
  }

  .left {
    width: 60%;
    padding: 0px 0px 10px 15px; float: left;
  }

.right {
    width: 10%
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.center {
    width: 40%;
    padding: 0px 30px 18px 170px; float: left;
  }

.notes {
  background-color: #E9FCFC;
}

h1 {
  font-family: 'Fugaz One', cursive;
  margin: 0 0 .5em 0;
  font-size: 74px;
  line-height: 90px;
  padding-bottom: 0px;
  padding-top: 30px;
  color: #1C2F5B;
  padding-left:  14px;
  text-align: center;
  letter-spacing: 2px;
}

h2 {
  font-family: 'PT Serif', serif;
  font-size: 40px;
  line-height: 45px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 35px;
  color: #000000;
}

h3 {
  font-family: 'Fugaz One', cursive;
  margin: 0 0 .5em 0;
  font-size: 70px;
  line-height: 80px;
  padding: 15px 50px 0 50px;
  color: #6AF6EB;
  text-align: center;
}

h4 {
  font-family: 'Fugaz One', cursive;
  margin: 0 0 .5em 0;
  font-size: 40px;
  line-height: 80px;
  padding: 0 0 0 50px;
  color: #6AF6EB;
  text-align: center;
}

h5{
  font-family: 'Patua One', cursive;
  margin: 0 0 .5em 0;
  font-size: 40px;
  line-height: 35px;
  padding-bottom: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 14px;
  color: black;
  text-align: left;
  letter-spacing: 2px;
}

h6{
  font-family: 'Patua One', cursive;
  margin: 0 0 .5em 0;
  font-size: 45px;
  line-height: 55px;
  padding-bottom: 5px;
  padding-top: 0px;
  padding-left: 14px;
  color: #1C2F5B;
  text-align: center;
  letter-spacing: 2px;
}

.credits-container {
  display: flex;
  justify-content: space-between;
  font-family: 'PT Serif', serif;
  font-size:  30px;
  line-height: 10px;
  color: #000000;
}
/* .p1 {
  font-family: 'PT Serif', serif;
  font-size:  30px;
  line-height: 35px;
  text-align: left;
  color: #000000;
  padding-bottom: 25px;
  padding-left: 5px;
} */

p {
  font-family: 'PT Serif', serif;
  font-size: 35px;
  line-height: 45px;
  text-align: left;
  color: #000000;
  padding: 10px 200px 200px;
